doctype html
head
  meta(charset='UTF-8')
  title=pageTitle
  // CSS only
  link(rel="shortcut icon", href="/favicon.ico")
  link(href='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css' rel='stylesheet' integrity='sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl' crossorigin='anonymous')
  link(rel='stylesheet' href='/css/style.css')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css' integrity='sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==' crossorigin='anonymous')
.rmv-container(style='height: 7.5rem')
  .top-container.d-flex.justify-content-between
    .select-picker
      a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false' style='font-size: 11.2px; color: #8c8c8c')
        | T&uuml;rk&ccedil;e
      ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
        li
          a.dropdown-item(href='#') T&uuml;rk&ccedil;e
        li
          a.dropdown-item(href='#') English
    ul.socials-wrapper.d-flex.mt-1
      li
        a(href='#')
          i.fab.fa-facebook-f
      li
        a(href='#')
          i.fab.fa-twitter
      li
        a(href='#')
          i.fab.fa-instagram
      li
        a(href='#')
          i.fab.fa-youtube
      li
        a(href='#')
          i.fab.fa-linkedin-in
  .top-container(style='margin: 1rem 0 0 7rem')
    a(href='/')
      img(src='/images/logo.svg' alt='logo' width='179px' height='45px')
    .top-nav-options.d-flex
      .input-group
        input.form-control(type='text' placeholder='Hızlı Erişim' style='border-radius: 1.3rem;width: 1rem;')
        span#basic-addon2.input-group-text(style='background-color: transparent;border: 1px;position: relative;right: 2.8rem;')
          i.fas.fa-running(style='color: #EF7D00; font-size: 1.2rem')
      .icon-text-wrapper.d-flex.align-items-center
        i.fab.fa-wpforms(style='font-size: 1.1rem; color: #ef7d00')
        span(style='padding-left: .5rem') &Idot;LET&Idot;&Scedil;&Idot;M FORMU
      .top-login-register
        i.fas.fa-sign-in-alt
        span &Uuml;YE G&Idot;R&Idot;&Scedil;&Idot; / &Uuml;YE OLUN
nav.navbar.navbar-expand-lg.navbar-custom.mt-4
  .container-fluid(style='padding-left: 0px')
    a.navbar-brand(href='#' style='margin-right: .5rem')
      img(src='/images/home.png' alt='' width='22' height='22')
    button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarNavDropdown' aria-controls='navbarNavDropdown' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
    #navbarNavDropdown.collapse.navbar-collapse
      ul.navbar-nav
        li.nav-item
          a.nav-link.active(aria-current='page' href='/campaigns') Kampanyalar
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | &Uuml;r&uuml;n Ve Hizmetler
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              a.dropdown-item(href='#') Something else here
        li.nav-item.dropdown
          a#navbarDropdownMenuLink.nav-link.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
            | Online Servisler
          ul.dropdown-menu(aria-labelledby='navbarDropdownMenuLink')
            li
              a.dropdown-item(href='#') Action
            li
              a.dropdown-item(href='#') Another action
            li
              a.dropdown-item(href='#') Something else here
        li.nav-item
          a.nav-link(href='/carier') Kariyer
block content
img(src='/images/bt-mid.png' alt='' width='100%')
footer
  .col-lg-12.d-flex.justify-content-between
    ul.footer-links
      li
        a(href='#') HAKKIMIZDA
      li
        a(href='#') S&Idot;TE HAR&Idot;TASI
      li
        a(href='#') &Scedil;UBELER&Idot;M&Idot;Z
      li
        a(href='#') &Ouml;NER&Idot; VE &Scedil;&Idot;KAYET
      li
        a(href='#') G&Idot;ZL&Idot;L&Idot;K VE G&Uuml;VENL&Idot;K
      li
        a(href='#') KVKK
      li
        a(href='#') ENTEGRASYON
      li
        a(href='#') S.S.S
      li
        a(href='#') G&Ouml;NDER&Idot; REHBERLER&Idot;
      li
        a(href='/carier') KAR&Idot;YER
    ul.socials-wrapper.d-flex.mt-1
      li
        a(href='#')
          i.fab.fa-facebook-f
      li
        a(href='#')
          i.fab.fa-twitter
      li
        a(href='#')
          i.fab.fa-instagram
      li
        a(href='#')
          i.fab.fa-youtube
      li
        a(href='#')
          i.fab.fa-linkedin-in
script(src="https://code.jquery.com/jquery-3.6.0.min.js"
  integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
  crossorigin="anonymous")
script(src="/js/script.js")           
script(src='https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js' integrity='sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG' crossorigin='anonymous')
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js' integrity='sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc' crossorigin='anonymous')
// Font Awesome
script(src='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/js/all.min.js' integrity='sha512-UwcC/iaz5ziHX7V6LjSKaXgCuRRqbTp1QHpbOJ4l1nw2/boCfZ2KlFIqBUA/uRVF0onbREnY9do8rM/uT/ilqw==' crossorigin='anonymous')
