/*comment styles */
* {
    margin: 0;
    padding: 0;
    outline: none;
}


body {
    background-color: #fff;
}

/*end of comment styles */

*,
::after,
::before {
    box-sizing: content-box;
}

a {
    text-decoration: none;
    color: #353535;
}

ul {
    list-style: none;
}

.top-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: .4rem;
    margin-right: 6rem;
}

.select-picker {
    display: inline-block;
    background-color: #f3f3f3;
    border-bottom-right-radius: 2rem;
    border-top-right-radius: 2rem;
    padding: 0.6rem 1.2rem .6rem 8rem;
}

.socials-wrapper li {
    margin-right: .8rem;
    font-size: 1.25rem;
}

.socials-wrapper a {
    color: #d3d3d3;
}

.top-login-register {
    display: inline-table;
    padding: .5rem;
    width: 19rem;
    background-color: #ef7d00;
    border-bottom-left-radius: 2rem;
    border-top-left-radius: 2rem;
    color: #fff;
    padding-left: 1rem;
    padding-right: 7rem;
}

.top-login-register span {
    padding-left: .5rem;
    font-size: .8rem;
    font-weight: 500
}

.icon-text-wrapper {
    width: 24rem;
    font-size: 1rem;
    font-weight: 500;
    margin-right: 1rem;
}

.navbar-custom {
    padding-left: 7rem;
    background-color: transparent;
    position: relative;
    margin-bottom: -3rem;
    z-index: 99;
}

.nav-link {
    font-weight: 600;
    font-size: 15px;
    color: #353535;
    background: none;
    text-transform: uppercase;
}

.dropdown-item {
    width: auto;
}

.top-mask {
    position: absolute;
    z-index: 9;
    width: 100%;
}

.bottom-mask {
    position: relative;
    z-index: 9;
    bottom: 11.5%;
}

.carousel-caption {
    display: flex !important;
    justify-content: center;
    bottom: 14rem;
    color: #000;
    text-align: left;
}

.carousel-caption p {
    font-size: 1.2rem;
}

.carousel-caption button {
    color: #fff;
    border-radius: 2rem;
    background-color: #EF7E01;
    padding: .5rem 2rem 0.5rem 2rem;
}

.limiter {
    width: 50%;
}

.check-content {
    position: absolute;
    top: 35%;
    left: 9%;
    z-index: 9;
}

.check-content button {
    background-color: #0d6efd;
}

.check-content .nav-pills {
    position: absolute;
    top: -30px;
    left: 25px;
    z-index: 1
}

.check-content .tab-pane {
    width: 320px;
    height: 120px;
    border-radius: 1.3rem;
    padding: .3rem;
    background-color: #0069B3;
    color: #fff
}

.check-content .nav-item button {
    font-size: .6rem !important;
}

.check-content .nav-item {
    background-color: rgba(0, 0, 0, .05);
    margin-right: 1rem;
    height: 21px;
    border-top-right-radius: .7rem;
    border-top-left-radius: .7rem;
    width: 3.7rem;
    text-align: center;
}

.check-content .nav-item .active {
    background-color: #0069B3 !important;
    border-top-right-radius: .7rem;
    border-top-left-radius: .7rem;
    width: 3.7rem;
    padding: .2rem;
    text-align: center;
}

.nav-link {
    padding: 0;
}

.check-content .tr-bg {
    width: 319px;
    height: 120px;
    position: absolute;
    border: 15px solid rgba(0, 0, 0, .05);
    border-radius: 20px;
    right: -11px;
    bottom: -11px;
}

.bottom-pill {
    color: #fff;
    padding: .5rem;
    height: 3rem;
    align-items: center;
}

.bottom-pill span {
    font-size: .8rem;
    font-weight: 500;
    padding-left: .5rem;
    line-height: 1.21
}

.branch-dropdown {
    display: grid;
    background-color: #fff;
    border-radius: .5rem;
    margin-top: .3rem;
    position: absolute;
    width: 91%;
    color: #000;
    padding: .5rem;
    overflow-x: auto;
    max-height: 5rem;
    font-weight: 500;
    visibility: hidden;
}

.branch-dropdown span {
    font-size: 1rem;
}


#from-dropdown{
    margin-top: 3.8rem;
    z-index: 1;
}

#to-dropdown{
    margin-top: 7.8rem;
    z-index: 1;
}

.middle-links {
    margin: 6rem;
}

.middle-links img {
    width: 12rem;
}

.middle-blog-tabs {
    margin: 4rem 7rem .5rem 7rem;
}

.middle-blog-tabs button {
    padding: .6rem 2.7rem;
    border-radius: 2rem !important;
    margin-right: .8rem;
    background-color: #f2f2f2 !important;
}

.middle-blog-tabs .nav-item .active {
    background-color: #0069B3 !important;
}

.card-tab {
    margin: 4rem 2rem 0 2rem;
}

.tab-content .card {
    border-radius: 2rem;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
}

.tab-content .card:hover {
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 35%);
}

.tab-content .card img {
    border-radius: 2rem;
}

.tab-content .card .card-text {
    font-size: .8rem;
    font-weight: 500;
}

.tab-content .card h5 {
    font-size: 1.1rem
}

.tab-content .card a {
    font-size: .9rem;
    font-weight: 500;
}

.bottom-img-line {
    height: 8px;
    width: 100%;
    background-color: #EFF6FB;
}

.modal-title {
    color: #0069B3;
}

.modal-content span {
    color: #ccc;
    border: 1px solid #ccc;
    padding: .3rem;
    margin-right: .4rem;
    margin-left: .4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.modal-header {
    border-bottom: 0;
}

.modal-dialog {
    max-width: 599px;
}

.process-holder {
    display: flex;
    justify-content: center;
}

.footer-links {
    display: flex;
}

.footer-links li {
    margin-right: .9rem;
    color: #000;
    font-size: .8rem;
    font-weight: 500;
}

.footer-links li a:hover {
    color: #EF7E01;
}

footer {
    padding: 5rem;
}

.aSpan {
    color: #0069b3 !important;
    border: 1px solid #0069b3 !important;
}

.blink {
    animation: blinkingCtx 1.2s infinite;
}


.subpage-banner {
    height: 163px;
}

.subpage-banner h3{
        position: absolute;
    top: 15rem;
        font-size: 36px;
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: -.04em;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 2px rgb(0 0 0 / 70%);
}

.subpage-wrapper {
    max-width: 730px;
    margin: 0 auto;
}

.campaign-card {
    display: flex;
    align-items: center;
    height: fit-content;
    width: 340px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 20%);
    border-radius: 20px;
    height: 80px;
    margin-bottom: 1.2rem;
}

.campaign-card span {
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.29;
    color: #353535;
}

.campaign-card img {
    margin: .5rem;
    height: 3.5rem;
    width: 3.5rem;
    border-radius: 20px;
    object-fit: contain;
}

.custom-breadcrumb {
    display: flex;
    margin: 1rem 0 2.2rem 0;
    align-items: center;
}

.custom-breadcrumb span{
    font-weight: 600;
    padding-right: .5rem;
    border: none!important;
    text-transform: uppercase;
}

.carier-page p {
    font-size: 18px;
    line-height: 1.67;
    color: #353535;
}

.customForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-wrapper {
    height: 100vh;
    width: 100%;
    background: #fff;
}

.login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0, 104, 179,.5);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    border-radius: 10px;
}

.customFormBox .user-box {
    width: 100%;
}

.login-box h2,.customFormBox h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}

.login-box .user-box, .customFormBox .user-box {
    position: relative;
}

.login-box .user-box input, .customFormBox .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
.login-box .user-box label, .customFormBox .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label,
.customFormBox .user-box input:focus ~ label,
.customFormBox .user-box input:valid ~ label{
    top: -20px;
    left: 0;
    color: #ef7d00;
    font-size: 12px;
}

.login-box form a,
.customFormBox form a,
.customFormBox form button
{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
}

.customFormBox form button {
    background: none;
    border: none;
}

.login-box a:hover,
.customFormBox a:hover,
.customFormBox button:hover {
    background: #ef7d00;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #ef7d00,
    0 0 25px #ef7d00,
    0 0 50px #ef7d00,
    0 0 100px #ef7d00;
}

.login-box a span,
.customFormBox a span,
.customFormBox button span{
    position: absolute;
    display: block;
}

.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #ef7d00);
    animation: btn-anim1 1s linear infinite;
}

.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #ef7d00);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
}

.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #ef7d00);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
}

.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #ef7d00);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
}

form .errorMessage{
    display: flex;
    justify-content: center;
    padding-bottom: 1rem;
    color: red;
}

.formWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 3rem 0;
}

.customFormBox {
    width: 400px;
    height: 340px;
    padding: 40px;
    background: rgba(0, 104, 179,.5);
    box-sizing: border-box;
    box-shadow: 0 5px 15px rgba(0,0,0,.3);
    border-radius: 10px;
    margin-bottom: 3rem;
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999999999;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    background: linear-gradient(rgba(0, 104, 179,.5), #fff);
}

/*animation*/
@keyframes blinkingCtx {
    0% {
        border: 1px solid #0069b3
    }

    49% {
        border: 1px dashed #0069b3
    }

    50% {
        border: 1px solid transparent
    }

    99% {
        border: 1px solid transparent
    }

    100% {
        border: 1px solid #0069b3
    }
}

@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%,100% {
        left: 100%;
    }
}

@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%,100% {
        top: 100%;
    }
}

@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%,100% {
        right: 100%;
    }
}

@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%,100% {
        bottom: 100%;
    }
}

.selected-item {
    margin: 20px 0;
}
.cusSelBlock {
    height: 50px;
    min-width: 250px;
}
#cusSelectbox {
    height: 100%;
    width: 100%;
}
.s-hidden {
    visibility: hidden;
}
.cusSelBlock {
    display: inline-block;
    position: relative;
    -webkit-perspective: 800px;
    perspective: 800px;
}
.selectLabel {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9999;
    background-color: #fff;
    border: 1px solid #ef7d00;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    color: #333;
    cursor: pointer;
    display: block;
    height: 100%;
    width: 100%;
    letter-spacing: 2px;
    line-height: 50px;
    padding: 0 50px 0 20px;
    text-align: left;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 0%;
    transform-origin: 50% 0%;
    -webkit-transition: -webkit-transform 300ms;
    transition: -webkit-transform 300ms;
    transition: transform 300ms;
    transition: transform 300ms, -webkit-transform 300ms;
    -webkit-backface-visibility: hidden;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.selectLabel:after {
    content: '\25BC';
    border-left: 1px solid #ef7d00;
    color: #ef7d00;
    font-size: 12px;
    line-height: 17px;
    padding: 10px;
    text-align: center;
    position: absolute;
    right: 0px;
    top: 15%;
    height: 31%;
    width: 50px;
}
.selectLabel:active {
    -webkit-transform: rotateX(30deg);
    transform: rotateX(30deg);
}
.selectLabel:active:after {
    content: '\25B2';
}
.selectLabel.active:after {
    content: '\25B2';
}
::-webkit-scrollbar {
    display: none;
}
.options {
    position: absolute;
    top: 50px;
    height: 1px;
    width: 100%;
}
.options li {
    background-color: #ffffff;
    border-left: 1px solid #ef7d00;
    border-right: 1px solid #ef7d00;
    border-bottom: 1px solid #ef7d00;
    cursor: pointer;
    display: block;
    line-height: 50px;
    list-style: none;
    opacity: 1;
    padding: 0 50px 0 20px;
    text-align: left;
    -webkit-transition: -webkit-transform 300ms ease;
    transition: -webkit-transform 300ms ease;
    transition: transform 300ms ease;
    transition: transform 300ms ease, -webkit-transform 300ms ease;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 0;
    height: 50px;
    width: 88%;
}
.options li:hover, .options li.active {
    background-color: #ef7d00;
    color: #fff;
    z-index: 99999  ;
}
.options li:nth-child(1) {
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    z-index: 6;
}
.options li:nth-child(2) {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    z-index: 5;
}
.options li:nth-child(3) {
    z-index: 4;
}
.options li:nth-child(4) {
    z-index: 3;
}
.options li:nth-child(5) {
    z-index: 2;
}
.options li:nth-child(6) {
    z-index: 1;
}
.feaBlock {
    margin: 20px 0;
    text-align: left;
}

.hidden {
    display: none!important;
}
